.all-Content{
    background-color: #FFFBF8;
}

h1{
    background-color: #c0c0c0;
}

.navbar-links{
    color: whitesmoke;
}
.navbar-links:hover{
    color: lightblue;
    text-decoration: underline;
}

.nav-item {
    margin-right: 10px;
}

.containerImg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0c0c0;
}

.My-Image{
    border-radius: 50%;
    width: 450px;
    height: 450px;
    object-fit: cover;
}